/* sets base style for each page */
html {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding: 0px;
}

/* set background image per page */
.home-bg {
background: url(../img/index-bg.jpg) no-repeat center center fixed;
}
.jobb-bg {
background: url(../img/jobb-bg.jpg) no-repeat center center fixed;
}
.about-bg {
background: url(../img/about-bg.jpg) no-repeat center center fixed;
}

body{
	font-family: Calibri, Helvetica, Arial;
	margin: 0;
	padding: 0;
}
h1{
	color:rgb(0,0,255);
}
h2{
	color:rgb(0,0,255);
}
h3{
	color:rgb(0,0,255);
	color:#ff0084;
}
p{
	text-align: justify;
	color: blue;
	font-size: 18px;
}
span{
	color:blue;
	font-size: 17px;
}
img{
	border-radius: 10px;
	float: right;
}
mark{
	background-color: pink;
}
#menuField /* id for black panel*/
{
	color: #FFFFFF; width: 100%; height: 100px; 
	background-color: #000000; 
	position: relative; top: 5px; margin-bottom: 10px;
	opacity: 0.50; /* How tranparent the panel will be. 1 is not at all*/
}
#menu{ /* id for black element*/  
	font-size: 22px;
	padding-top: 35px;
}
#menu li a:link { /* unvisited link */
	color: white;
}
#menu li a:visited { /* visited link */ 
	color: yellow;
}
#menu li a:hover { /* mouse over link */  
	color: #00BFFF;
}
#menu li a:active { /* selected link */
	color: gray;
}
#menu li { 
	float: left; 
}

/* Every link inside <li> but not outside of it*/
#menu li a {
	padding: 75px; 
	text-decoration: none;
	font-weight: bolder;
}
#inner { /* För att centrera menyn*/ 
	width: 50%;
	margin: 0 auto;
}

#job-content{
	width: 75%;
	height:auto;
	margin: 0 auto;
	padding: 15px;
	text-align: justify;
	opacity: 0.75;
	border-radius: 15px;
	background: rgba(159,207,249,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(159,207,249,1) 35%, rgba(150,202,249,1) 41%, rgba(130,189,248,1) 55%, rgba(101,171,246,1) 75%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(35%, rgba(159,207,249,1)), color-stop(41%, rgba(150,202,249,1)), color-stop(55%, rgba(130,189,248,1)), color-stop(75%, rgba(101,171,246,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(159,207,249,1) 35%, rgba(150,202,249,1) 41%, rgba(130,189,248,1) 55%, rgba(101,171,246,1) 75%);
background: -o-radial-gradient(center, ellipse cover, rgba(159,207,249,1) 35%, rgba(150,202,249,1) 41%, rgba(130,189,248,1) 55%, rgba(101,171,246,1) 75%);
background: -ms-radial-gradient(center, ellipse cover, rgba(159,207,249,1) 35%, rgba(150,202,249,1) 41%, rgba(130,189,248,1) 55%, rgba(101,171,246,1) 75%);
background: radial-gradient(ellipse at center, rgba(159,207,249,1) 35%, rgba(150,202,249,1) 41%, rgba(130,189,248,1) 55%, rgba(101,171,246,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fcff9', endColorstr='#65abf6', GradientType=1 );
}
#contact-content{
	width: 75%;
	height:auto;
	margin: 0 auto;
	padding: 15px;
	text-align: justify;
	opacity: 0.75;
	border-radius: 15px;
background: rgba(255,240,248,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,240,248,1) 30%, rgba(255,240,248,1) 45%, rgba(255,240,248,1) 51%, rgba(255,240,248,1) 64%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%, rgba(255,240,248,1)), color-stop(45%, rgba(255,240,248,1)), color-stop(51%, rgba(255,240,248,1)), color-stop(64%, rgba(255,240,248,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,240,248,1) 30%, rgba(255,240,248,1) 45%, rgba(255,240,248,1) 51%, rgba(255,240,248,1) 64%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,240,248,1) 30%, rgba(255,240,248,1) 45%, rgba(255,240,248,1) 51%, rgba(255,240,248,1) 64%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,240,248,1) 30%, rgba(255,240,248,1) 45%, rgba(255,240,248,1) 51%, rgba(255,240,248,1) 64%);
background: radial-gradient(ellipse at center, rgba(255,240,248,1) 30%, rgba(255,240,248,1) 45%, rgba(255,240,248,1) 51%, rgba(255,240,248,1) 64%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0f8', endColorstr='#fff0f8', GradientType=1 );
}
#job-content ul li{
	text-align: justify;
	color: blue;
	font-size: 17px;
}
